$icon-size: 14px;

.iconWithText {
  opacity: 0.7;
  gap: 4px;
  align-items: center;
  margin: 12px 0 4px
}

.text {
  font-weight: 500;
  font-size: 14px !important;
  line-height: 14px !important;
}



.icon {
  width: $icon-size;
  height: $icon-size;
  margin-top: -6px !important;
}
.icon > svg {
  width: $icon-size;
  height: $icon-size;
}
